<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ubfx.library">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <application>
        <receiver android:name="com.ubfx.library.receiver.LocaleSysChangeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
